body {
    font-family: 'Poppins', sans-serif;
    width: 1400px;
    height: 3843px;
    background: #FFFFFF;
    display:block;
    position: relative;
}
p {
    color:#544837;
}
section {
   /* display: flex;
    flex-direction: row;*/
    position:relative;
    top: 50px;
    width: 70%;
    min-height: 496px;
    margin: auto;
}
div {
    display: flex;
}
nav {
    display:flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    width: 1400px;
    height: 78px;
    left: 0px;
    top: 20px;
    margin-top: 20px;
}

a {
    text-decoration: none;
    color:#544837; 
}
.nav-logo {
    position: absolute;
    left: 143px;
    width: 185.34px;
    height: 31.97px;
}
.nav-content {
    display: flex;
}
.nav-list {
    height: 28px;
}
.nav-list-items {
    display:inline;
    height: 28px;
    margin: 5px;
}
button {
    background: #FF9900;
    color:white;
    border-radius: 4px;
    border: none;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    min-height:46px;
    min-width: 110px;
    margin: 8px;
}
.nav-btn {

}
.signin {
    background-color: white;
    color:#173A56;
    border: solid #173A56 1px;
    height:46px;
    width: 110px;
}
.signup{
    height:46px;
    width: 110px;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;
    width: 1133px;
    height: 496px;
    left: 136px;
    top: 182px;
}

.head-content{
    display: flex;
    flex-wrap: wrap;
}
h1 {
    color: #2F281E;
}
.head-text {
    color:#544837;
}

.head-btn {

}
.btn-start {
    width: 175px;
    height: 53px;
}
.btn-watch {
    width: 175px;
    height: 53px;
    color:  #FF9900;
    background-color: #FFFFFF;
}
.head-img {

}

.products__container {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 1133px;
    height: 496px;
    left: 136px;
    top: 182px;
}
h3 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    color: #2F281E;
}
.products__header {
}
.products {
    display:flex;
    flex-direction: row;
    justify-content:space-evenly;
    
}
.products__click {

}
.products__design {

}
.products__preference {

}
.products__five {

}
.now.btn {

}
.redshirt__section {
    display: flex;
    justify-content: center;

}
.redshirt__text {
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
}
.blueshirt__section {
    display: flex;
    justify-content:space-between;
    flex-flow: row;
}
.blueshirt__text {
    flex-flow: column wrap;
}
.yellowshirt__section {
    display: flex;
    justify-content: center;
}
.yellowshirt__text {
 flex-flow:column wrap;
}
footer {
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction: row;
    position:relative;
    width: 1109px;
    height: 308px;
}
.footer-logo {
    position: absolute;
    width: 185px;
    height: 32px;
    left: 173px;
}
.footer-list {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
    list-style-type: none;

}
.input-section {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
}
input {
align-self: center;
}
.input-btn {
align-self: flex-end;
}
